/* Reset body background to none */
body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    background: none; /* Set background to none */
}

/* Additional styles for page 2 */
body.page-2 {
    background: none;
}

.container.page-2 {
    background: none;
}

.image-container {
    display: flex;
    height: 100%; /* Full height of the container */
}

.image {
    flex: 1; /* Equal width for each image */
    background-size: cover;
    background-position: center;
}

/* Add specific styles for each image */
.image:nth-child(1) {
    background-image: url('raul.jpg');
}

.image:nth-child(2) {
    background-image: url('zizo.jpg');
}

.image:nth-child(3) {
    background-image: url('ronaldinho.jpg');
}

.image:nth-child(4) {
    background-image: url('paolo_maldini.jpg');
}
